.inputBox{
  margin: 50px auto;
  position: relative;
  width: 70%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 0;
}
.inputBox input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
}
.inputBox span{
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  font-size: 1em;
  pointer-events: none;
  color: #ccc;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
  color: orange;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #fff;
}
.inputBox span{
  transition: all 0.5s;
}